html,body{
    margin: 0;
    height: 100%;
}
body{
    align-items: center;
}
.btn{
    width: 200px;
    height: 60px;
    background: pink;
    border: none;
    border-radius: 10px;
    font-family: 'Lato', Georgia, "Times New Roman",serif;
    font-weight: 250;
    font-size: 24px;
    color: white;
    outline: none;
    position: relative;
}
